In [21]:
import pandas as pd
import nltk
from nltk.stem import PorterStemmer
import textwrap
from spacy.lang.en import STOP_WORDS
# from sklearn.feature_extraction.stop_words import ENGLISH_STOP_WORDS
from nltk.corpus import stopwords
# nltk.download('stopwords')
porter = PorterStemmer()
stops = list(set(stopwords.words('english') + list(set(STOP_WORDS))))
import string
from nltk import sent_tokenize
from nltk.tokenize import word_tokenize
import re
porter = PorterStemmer()
exclude = set(",.:;'\"-?!/")

In [22]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to /Users/sophi/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [23]:
def isStopWord(word):
    if word in stops:
        return True
    else:
        return False
    
def clean_text(text):
    text = text.replace('\\n',' ').strip()
    words = text.split()
    cleand_words = []
    for word in words:
        if not any (c.isdigit() for c in word):
            word = "".join([(ch if ch not in exclude else " ") for ch in word]).lower()
            cleand_words.append(word)

    text = ' '.join(cleand_words)
    tokens = word_tokenize(text)
    cleaned_text = []
    for word in tokens:
        if word.isalpha() and not (word in stops):
            word = porter.stem(word)
            cleaned_text.append(word)
    return cleaned_text

In [24]:
df = pd.read_csv('new_queries.csv')
df.head(1)

,Unnamed: 0,Input.category,Answer.complex_query,Answer.simple_query
0,0,housing,Australian Terrier puppies 3 weeks old need go...,dog small quiet friendly

In [25]:
df_1 = df[['Input.category','Answer.complex_query']]
df_1.rename({'Input.category': 'category', 'Answer.complex_query': 'query'}, axis=1, inplace=True)
df_1.head(1)

/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/pandas/core/frame.py:4441: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

  category                                              query
0  housing  Australian Terrier puppies 3 weeks old need go...

In [11]:
df_2 = df[['Input.category','Answer.simple_query']]
df_2.rename({'Input.category': 'category', 'Answer.simple_query': 'query'}, axis=1, inplace=True)
df_2.head(1)

/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/pandas/core/frame.py:4441: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

  category                    query
0      car  REGION,TYPE,PAINT,STATE

In [14]:
df=pd.concat([df_1,df_2])
print(len(df))
df.head(1)

1426

  category query
0      car  FUEL

In [26]:
cleaned = []

for index, row in df_1.iterrows():
    print(index)
    cleaned_words = clean_text(row['query'])
    cleaned_text = ' '.join(cleaned_words)
#     print(cleaned_text)
    cleaned.append(cleaned_text)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171

In [28]:
df_1['cleaned_query'] = cleaned
print(len(df_1))
df_1.head(1)

172

<ipython-input-28-a251ccf91692>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1['cleaned_query'] = cleaned

,category,query,cleaned_query
0,housing,Australian Terrier puppies 3 weeks old need go...,australian terrier puppi week old need good home

In [29]:
df_2 = pd.read_csv('cleaned_queries.csv')

In [19]:
df.to_csv('cleaned_queries.csv')

In [32]:
del df_2['Unnamed: 0']
df_2.head(1)

  category query cleaned_query
0      car  FUEL          fuel